/* the styles for the HTML elements */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: #050505;
    font-family: "Century Gothic";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.882;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}
h1, h2 {
    color: #5e0909;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
}
li {
    padding-bottom: 0.5em;
}

a {
    background-color: #5e0909;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
}
a:hover {
    background-color: #8b1414;
    color: white;
    border-radius: 5px;
}

.canvasjs-chart-credit a {
    background-color: #ee6565;
}

br {
    clear: left;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    display: inline-table;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    overflow: hidden;
}


th {
    background-color: #5e0909;
    color: #ffffff;
}

td, th {
    padding: 12px 15px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #161616;
}

tr:last-of-type {
    border-bottom: 2px solid #5e0909;
}

tr.active-row {
    font-weight: bold;
    color: rgb(47, 6, 6);
}

/* the styles for classes */
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;	
}
.last_paragraph {
    margin-bottom: 2em;	
}

.chart_container {
    width: 40%;
    height: 300px;
    display: inline-block;
    margin: 20px;
}

@media screen and (max-width:400px) {
    html {
      font-size: 9.411764705882353px;
    }
  
  }

canvas {
    border: 3px solid #5e0909;
    border-radius: 5px;
}

.canvasjs-chart-container a {
    display: none;
}

img {
    width: 42px;
    height: 42px;
    display: flex;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.fabutton:hover {
    cursor: pointer;
}