/**************** HTML ELEMENTS STYLE ******************/
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: #050505;
    font-family: "Century Gothic";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.882;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: overlay;
}

html, body {
    overflow-x:hidden;
} 

.element::-webkit-scrollbar { width: 0 !important }

h1 {
    font-size: 150%;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
    border-radius: 10px 0;
}
h3 {
    font-size: 110%;
    margin: 0;
    background-color: #290303;
    color: white;
}
h1, h2 {
    background-color: #5e0909;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
li {
    padding-bottom: 0.5em;
}

.a-button a {
    background-color: #5e0909;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
}

.a-button a:hover {
    background-color: #8b1414;
    color: white;
    border-radius: 5px;
}

br {
    clear: left;
}


/**************** TABLE SECTION ******************/

table {
    border-collapse: collapse;
    border-radius: 1em;
    display: inline-table;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    overflow: hidden;
}

th {
    background-color: #5e0909;
    color: #ffffff;
}

td, th {
    padding: 12px 15px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #161616;
}

tr:last-of-type {
    border-bottom: 2px solid #5e0909;
}

tr.active-row {
    font-weight: bold;
    color: rgb(47, 6, 6);
}

@media screen and (max-width: 600px) {
    .normal-table table {
      border: 0;
      width: 90%;
    }
  
    .normal-table table caption {
      font-size: 1.3em;
    }
    
    .normal-table table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .normal-table table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .normal-table table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .normal-table table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .normal-table table td:last-child {
      border-bottom: 0;
    }

    .normal-table img {
        margin: 0 0 0 90%;
    }
}

/**************** CLASSES STYLE ******************/
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;	
}
.last_paragraph {
    margin-bottom: 2em;	
}

img {
    width: 42px;
    height: 42px;
    display: flex;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.fabutton:hover {
    cursor: pointer;
}

/**************** NAV BAR SECTION ******************/

.header-nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.header-logo {
    display: inline-block;
    margin: 6px 0 0 0;
    padding: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    position: absolute;
    top: 50%;
    left: 40px;
}
  
.header-logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    transition: all .3s;
}

.header-nav-wrap {
    display: inline-block;
}
  
.header-nav-wrap ul {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

.header-nav-wrap li {
    display: inline-block;
    padding-left: 0;
}

.site-logo i {
    justify-content: left;
}

@media screen and (max-width:500px) {
    .header-nav-wrap li {
      width: 100%;
    }
}

.header-nav-wrap li a {
    display: block;
    line-height: calc(78px - (18px * 2));
    text-decoration: none;
}

.header-main-nav {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 0 4px;
    z-index: 2;
    position: static;
}

.header-main-nav li {
    padding: 0 3rem;
}

.header-main-nav a {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.header-main-nav a:hover,
.header-main-nav a:focus,
.header-main-nav a:active {
    color: #ffffff;
}

.header-main-nav .current {
    background-color: #5e0909;
}

.header-main-nav .current a {
    color: #ffffff;
}

/**************** FORMS SECTION ******************/

.form-input {
    height: 80vh;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.form-input label {
    transform: translateY(1px);
    width: 100%;
    background: #5e0909;
    border-radius: 20px 0 0 0;
    letter-spacing: 10px;
    font-weight: bold;
}

.form-input input {
    width: 100%;
    height: 42px;
    margin: 0;
    border-radius: 0 0 20px 0;
    border: solid 2px #5e0909;
    border-top: solid 3px #5e0909;
    background: none;
    color: white;
    font-size: 24px;
    text-align: center;
}


.form-input input:-webkit-autofill, input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #050505 inset !important;
            box-shadow: 0 0 0 30px #050505 inset !important;
    -webkit-text-fill-color: white !important;
}

.form-input select {
    width: 100%;
    height: 42px;
    margin: 0;
    border-radius: 0 0 20px 0;
    border: solid 2px #cbc9c9;
    background: none;
    color: white;
    font-size: 24px;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-input select:focus-visible, input:focus-visible {
    outline: none;
}

.form-input select::-ms-expand {
    display: none;
}

.form-input select[multiple] {
    height: auto;
}

.form-input select option {
    background-color: #050505;
    color: white;
}

.form-input input:hover, select:hover {
    border-color: #8b1414 !important;
    background-color: none;
}

.form-input select:hover {
    border-color: #8b1414 !important;
    background-color: none;
    cursor: pointer;
}

.form-input input:valid, select:valid {
    border-color: #5e0909;
    color: white;
}

.form-input button {
    width: 100%;
    height: 42px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: #5e0909; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.form-input button:hover {
    background: #8b1414;
    cursor: pointer;
}

/**************** TIMETABLE SECTION ******************/

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-container table {
    width: 90%;
}

@media only screen and (max-width: 900px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;     
    }
}

/**************** POPUP SECTION ******************/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  
/* Popup arrow */
*, *::after, *::before {
    box-sizing: border-box;
}
  
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 10;
    background-color: #050505;
    width: 500px;
    max-width: 80%;
}
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    background: #5e0909;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
}

.modal-body {
    display: inline-block;
    width: 100%;
}
  
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
}
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
    height: 95vh;
}

.popup-button button {
    width: 100%;
    margin: 0;
    border-radius: 5px;
    border: none;
    background: #5e0909; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.popup-button button:hover {
    cursor: pointer;
}

/**************** STATISTICS SECTION ******************/

canvas {
    border: 3px solid #5e0909;
    border-radius: 5px;
}

.canvasjs-chart-container a {
    display: none;
}

.canvasjs-chart-credit a {
    background-color: #ee6565;
}

.charts-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "chart1 chart3"
    "chart2 chart3";
}

.chart1 { grid-area: chart1; }
  
.chart2 { grid-area: chart2; }
  
.chart3 { grid-area: chart3; }
  
.chart_container_1 {
    width: 90%;
    height: 300px;
    margin: 5% 5% 20px 5%;
}

.chart_container_2 {
    width: 90%;
    height: 300px;
    margin: 20px 5% 5% 5%;
}

.chart_container_3 {
    width: 90%;
    height: 640px;
    margin: 5% 5% 5% 5%;
}

@media only screen and (max-width: 900px){
    .charts-container {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "chart1"
          "chart2"
          "chart3"
          "chart3";
      }
      
      .chart1 { grid-area: chart1; }
      
      .chart2 { grid-area: chart2; }
      
      .chart3 { grid-area: chart3; }
      
}