/* the styles for the HTML elements */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: #050505;
    font-family: "Century Gothic";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.882;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: overlay;
}

.element::-webkit-scrollbar { width: 0 !important }

main {
    transform: translateY(41px);
}

h1 {
    font-size: 150%;
    margin: 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
    border-radius: 10px 0;
}
h1, h2 {
    background-color: #5e0909;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
}
li {
    padding-bottom: 0.5em;
}

.a-button a {
    background-color: #5e0909;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
}

.a-button a:hover {
    background-color: #8b1414;
    color: white;
    border-radius: 5px;
}

.canvasjs-chart-credit a {
    background-color: #ee6565;
}

br {
    clear: left;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    display: inline-table;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    overflow: hidden;
}


th {
    background-color: #5e0909;
    color: #ffffff;
}

td, th {
    padding: 12px 15px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #161616;
}

tr:last-of-type {
    border-bottom: 2px solid #5e0909;
}

tr.active-row {
    font-weight: bold;
    color: rgb(47, 6, 6);
}

/* the styles for classes */
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;	
}
.last_paragraph {
    margin-bottom: 2em;	
}

.chart_container {
    width: 40%;
    height: 300px;
    display: inline-block;
    margin: 20px;
}

@media screen and (max-width:400px) {
    html {
      font-size: 9.411764705882353px;
    } 
}


canvas {
    border: 3px solid #5e0909;
    border-radius: 5px;
}

.canvasjs-chart-container a {
    display: none;
}

img {
    width: 42px;
    height: 42px;
    display: flex;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.fabutton:hover {
    cursor: pointer;
}

.header-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    text-align: center;
    z-index: 100;
}

.header-logo {
    display: inline-block;
    margin: 6px 0 0 0;
    padding: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    position: absolute;
    top: 50%;
    left: 40px;
}
  
.header-logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    transition: all .3s;
}

.header-nav-wrap {
    display: inline-block;
}
  
.header-nav-wrap ul {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

.header-nav-wrap li {
    display: inline-block;
    padding-left: 0;
}

.header-nav-wrap li a {
    display: block;
    line-height: calc(78px - (18px * 2));
    text-decoration: none;
}

.header-main-nav {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 0 4px;
    z-index: 2;
    position: static;
}

.header-main-nav li {
    padding: 0 3rem;
}

.header-main-nav a {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.header-main-nav a:hover,
.header-main-nav a:focus,
.header-main-nav a:active {
    color: #ffffff;
}

.header-main-nav .current {
    background-color: #5e0909;
}

.header-main-nav .current a {
    color: #ffffff;
}

/* Form */
.form-input {
    height: 80vh;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.form-input label {
    transform: translateY(1px);
    width: 100%;
    background: #5e0909;
    border-radius: 20px 0 0 0;
    letter-spacing: 10px;
    font-weight: bold;
}

.form-input input {
    width: calc(100% - 8px);
    height: 42px;
    margin: 0;
    border-radius: 0 0 20px 0;
    border: solid 2px #5e0909;
    border-top: solid 3px #5e0909;
    background: none;
    color: white;
    font-size: 24px;
    text-align: center;
}

.form-input input:-webkit-autofill, input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #050505 inset !important;
            box-shadow: 0 0 0 30px #050505 inset !important;
    -webkit-text-fill-color: white !important;
}

.form-input select {
    width: 100%;
    height: 42px;
    margin: 0;
    border-radius: 0 0 20px 0;
    border: solid 2px #cbc9c9;
    background: none;
    color: white;
    font-size: 24px;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-input select:focus-visible, input:focus-visible {
    outline: none;
}

.form-input select::-ms-expand {
    display: none;
}

.form-input select[multiple] {
    height: auto;
}

.form-input select option {
    background-color: #050505;
    color: white;
}

.form-input input:hover, select:hover {
    border-color: #8b1414 !important;
    background-color: none;
}

.form-input select:hover {
    border-color: #8b1414 !important;
    background-color: none;
    cursor: pointer;
}

.form-input input:valid, select:valid {
    border-color: #5e0909;
    color: white;
}

.form-input button {
    width: 100%;
    height: 42px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: #5e0909; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.form-input button:hover {
    background: #8b1414;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-container table {
    width: 90%;
}

.Monday { grid-area: 1 / 1 / 2 / 2; }
.Tuesday { grid-area: 1 / 2 / 2 / 3; }
.Wednesday { grid-area: 1 / 3 / 2 / 4; }
.Thursday { grid-area: 1 / 4 / 2 / 5; }
.Friday { grid-area: 1 / 5 / 2 / 6; }
.Saturday { grid-area: 1 / 6 / 2 / 7; }
.Sunday { grid-area: 1 / 7 / 2 / 8; }
